@font-face {
  font-family: roboto-black;
  src: url(/media/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: roboto-blackitalic;
  src: url(/media/fonts/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(/media/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-bolditalic;
  src: url(/media/fonts/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: roboto-italic;
  src: url(/media/fonts/Roboto-Italic.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(/media/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-lightitalic;
  src: url(/media/fonts/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: roboto-medium;
  src: url(/media/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-mediumitalic;
  src: url(/media/fonts/Roboto-MediumItalic.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(/media/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-thin;
  src: url(/media/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: roboto-thinitalic;
  src: url(/media/fonts/Roboto-ThinItalic.ttf);
}
@font-face {
  font-family: robotocondensed-bold;
  src: url(/media/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: robotocondensed-bolditalic;
  src: url(/media/fonts/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: robotocondensed-italic;
  src: url(/media/fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: robotocondensed-light;
  src: url(/media/fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: robotocondensed-lightitalic;
  src: url(/media/fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: robotocondensed-regular;
  src: url(/media/fonts/RobotoCondensed-Regular.ttf);
}